<html>

<head>

<title> StereoStop</title>

</head>

<body background="dina.jpg" class='img-responsive'>

<div style="text-align: center; background:rgba(54, 25, 25, .5);">
<h1> StereoStop</h1>
<p> Changing the world by breaking one stereotype at a time!</p>
<form>

	<p>
	E-mail: <input type='text' name='e-mail'/>
	</p>
	<p>
	Password: <input type='password' name='password'>
	</p>
	<p>
	<input type="submit" name="newsfeed" value="Sign In">
	</p>
</form>
Don't have an account?
<a href="/signup.html">Sign Up</a>
</div>

</body>
