{% extends "base.html" %}

{% block content %}

<html>

<head>
<title>  
StereoStop
</title>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
    	<h1> #BLONDESrSTUPID </h1>
		<img src="main-qimg-81ed258627de52b9eaaec07423435aff-c.jpg" alt="Smart Blond" style="width:304px;height:228px;">

    </div>
    <div class="col-sm-4">
    	<h1> #ARABSrANTISEMETIC </h1>
    	<img src="160310_arabs.jpg" alt="antisemetic arab" style="width:304px;height:228px;"
    </div>
    <div class="col-sm-4">
      	<h1> #MALE-DANCERSrGAY </h1>
      	<img scr="ballet.jpg" alt="dancer" style="width:304px;height:228px; "
    </div>
  </div>
</div>

</body>

</html>




<!--
<body>
<h1> #Blondes_R_Stupid </h1>
<img src="main-qimg-81ed258627de52b9eaaec07423435aff-c.jpg" alt="Smart Blond" style="width:304px;height:228px;">

</body>

</html>


{% endblock %}