{% extends "base.html" %}

{% block title %}
{{ user.name }}'s Profile
{% endblock %}

{% block content %}
  <div class = "container">
      <div class=" row m-t-3">
        <img src = "{{user.pic}}" alt = "Nathaniel Navarro" class = "img-circle m-x-auto d-block">
      </div>
    </div>
    <div class = "row m-t-1">
      <div class = "col-sm-12 text-xs-center">
        <h1>{{user.name}}</h1>
      </div>
    <div class = "row m-t-1">
      <div class="col-md-6 text-xs-center">
      <h2>Posts: 0</h2>
      </div>
      <div class="col-md-6 text-xs-center">
      <h2>Broken Stereotypes:0</h2>
      </div>
    </div>
  </div>
{% endblock %}

