<html>

<head>

</head>

<body>

<div style="text-align: center;">
<h1>StereoStop</h1> 
<form>
	<p>
	E-mail: <input type='text' name='e-mail'/>
	</p>
	<p>
	Password: <input type='password' name='password'/>
	</p>
	<p>
	Gender:  <input type='radio' name='gender' value='male' checked> Male
	<input type='radio' name='gender' value='Female'> Female
	<input type='radio' name='gender' value='other' > Other
	</p>
	<p>
	Nationality:  <input type='text' name='nationality'/>
	</p>
	<p>
	<input type="submit" name="newsfeed" value="submit">
	</p>

</form>
 
</div>

</body>